body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100vw;
}

.star-rating {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 5px;

}

.stars svg {
  width: 50px;
  height: 50px;
}

.open-dialog-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 30px;
  cursor: pointer;
}